@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    作者：陈文斌<br />
    地址：上海<br />
    <abbr title="Phone">电话:</abbr>
    159 2187 3195
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:wb.chen@outlook.com">wb.chen@outlook.com</a><br />
</address>