@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">简易问答系统，提供简单的提问和回答功能，基于ASP.NET MVC5与Entity Framework 6, 数据库试用Visual Studio2013内建的SQL Server LocalDB.</p>
    <p>@Html.ActionLink("了解更多 »", "Index", "Home", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>
